@using ComIT.Comunes.Entities

@if (mostrarTitulo)
{
    <h4>Listado de Profesores</h4>
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Años de Experiencia</th>
            <th>Materia</th>
            @if (ColumnasAdicionales != null)
            {
                <th></th>
            }
            @if (MostrarBotones)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Datos)
        {
            <tr>
                <td>@item.DNI</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.FechaNac</td>
                <td>@item.AñosExp</td>
                <td>@item.Materia</td>
                @if (ColumnasAdicionales != null)
                {
                    <td>
                        @ColumnasAdicionales
                    </td>
                }
                @if (MostrarBotones)
                {
                    <td>
                        <button type="button" class="btn btn-link" @onclick="() => modificarEvent.InvokeAsync(item)">modificar</button>
                        <button type="button" class="btn btn-link" @onclick="() => eliminarEvent.InvokeAsync(item)">eliminar</button>
                    </td>
                }
            </tr>
        }

    </tbody>
</table>

<p>Cantidad de profesores: @Datos.Count</p>

@code {
    [Parameter]
    [EditorRequired]
    public List<Profesor> Datos { get; set; }
    [Parameter]
    public bool mostrarTitulo { get; set; } = true;
    [Parameter]
    public bool MostrarBotones { get; set; } = false; 
    [Parameter]
    public RenderFragment ColumnasAdicionales { get; set; } = null;
    [Parameter]
    public EventCallback<Profesor> modificarEvent { get; set; }
    [Parameter]
    public EventCallback<Profesor> eliminarEvent { get; set; }
}
