@page "/profesor"
@using ComIT.CursosApp.Entities
@rendermode InteractiveServer

<h1>Profesor</h1>

<h3>Nuevo profesor</h3>
<label>
    DNI
    <input type="number" @bind="dni" />
</label>
<label>Nombre
    <input type="text" @bind="nombre"/>
</label>
<label>Apellido
    <input type="text" @bind="apellido"/>
</label>
<label>Fecha Nacimiento
    <input type="date" @bind="fechaNac"/>
</label>
<label>Años de Experiencia
    <input type="number" @bind="añosExp"/>
</label>

@if (estamosModificando)
{
    <button @onclick="GuardarCambios" type="button" class="btn btn-primary">Guardar Cambios</button>
}
else
{
    <button @onclick="Agregar" type="button" class="btn btn-primary">Agregar profesor</button>
}



<br/>
@if(error != "")
{
    <label style="background-color:red">@error</label>
}
<br />
<table class="table table-hover table-striped">
   <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Años de Experiencia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in ProfesoresList)
        {
            <tr>
                <td>@item.DNI</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.FechaNac</td>
                <td>@item.AñosExp</td>
                <td>
                    <button type="button" class="btn btn-link" @onclick="() => Modificar(item)">Modificar</button>
                    <button type="button" class="btn btn-link" @onclick="() => Eliminar(item)">Eliminar</button>
                </td>
            </tr>
        }

    </tbody>
</table>

<p>Cantidad de profesores: @cantProfes</p>

@code {
    private int cantProfes;
    private string error = "";
    private bool estamosModificando = false;
    private Profesor? profesorModificando;

    private long dni = 0;
    private string nombre;
    private string apellido;
    private DateOnly? fechaNac;
    private int añosExp;

    private List<ComIT.CursosApp.Entities.Profesor> ProfesoresList = new();

    private void Agregar()
    {
        if(dni == 0 || nombre == "" || apellido == "" || fechaNac == null)
        {
            error = "No se ingresaron todos los datos";
        }
        else
        {
            ProfesoresList.Add(new Profesor(dni, nombre, apellido, (DateOnly)fechaNac, añosExp));

            dni = 0;
            nombre = "";
            apellido = "";
            fechaNac = null;
            añosExp = 0;

            cantProfes++;
            error = "";
        }
    }

    private void Modificar(Profesor profeModificar)
    {
        estamosModificando = true;
        profesorModificando = profeModificar;

        dni = profeModificar.DNI;
        nombre = profeModificar.Nombre;
        apellido = profeModificar.Apellido;
        fechaNac = profeModificar.FechaNac;
        añosExp = profeModificar.AñosExp;
    }

    private void GuardarCambios()
    {
        if (dni == 0 || nombre == "" || apellido == "" || fechaNac == null)
        {
            error = "No se ingresaron todos los datos";
        }
        else
        {
            profesorModificando.DNI = dni;
            profesorModificando.Nombre = nombre;
            profesorModificando.Apellido = apellido;
            profesorModificando.FechaNac = (DateOnly)fechaNac;
            profesorModificando.AñosExp = añosExp;

            dni = 0;
            nombre = "";
            apellido = "";
            fechaNac = null;
            añosExp = 0;

            estamosModificando = false;
            profesorModificando = null;
        }
    }

    private void Eliminar(Profesor profeEliminar)
    {
        ProfesoresList.Remove(profeEliminar);
        cantProfes--;
    }
}
